body {
    display: grid;
    grid-template: 1fr 10fr / 1fr 3fr;
    height: 100vw;
}

.area {
    padding: 16px;
}
.nav {
    grid-area: 1/1/3/2;
    background-color: skyblue;

}

.header {
    grid-area: 1/2/2/3;
    display: grid;
    grid-template: 1fr 1fr / repeat(8, 1fr);
    
}

.content {
    grid-area: 2/2/3/3;
    background-color: lightgray;

}

.search {
    display: flex;
    grid-column: 1/6;
    margin-top: auto;
    margin-bottom: auto;
}

.searchbar {
    border-radius: 24px;
    height: 24px;
    border-style: none;
    padding-left: 10px;
    background-color: lightgray;
    width: 80%;
    margin-left: 8px;
}

.icon {
    height: 24px;
    width: 24px;
    margin-top: auto;
    margin-bottom: auto;
}

.user {
    grid-column: 7/9;
}
